
.backButton {
  position: absolute;
}

.comboMove {
    position: absolute;
    top: 35%;
    left: 30%;
    font-size: 400%;
    color: red;
    -webkit-transform: rotate(45deg);
}

.boxrTitle {
    position: absolute;
    left: 44%;
    font-weight: bold;
    font-size: 300%;
}

.leftTitle {
    position: absolute;
    left: 10%;
    font-weight: bold;
    font-size: 200%;
}

.rightTitle {
    position: absolute;
    right: 10%;
    font-weight: bold;
    font-size: 200%;
}

.leftPunchStatsJab {
    position: absolute;
    left: 5%;
    top: 30%;
}

.leftPunchStatsHook {
    position: absolute;
    left: 5%;
    top: 35%;
}

.leftPunchStatsUppercut {
    position: absolute;
    left: 5%;
    top: 40%;
}


.rightPunchStatsJab {
    position: absolute;
    right: 5%;
    top: 30%;
}

.rightPunchStatsHook {
    position: absolute;
    right: 5%;
    top: 35%;
    color: white;
}

.rightPunchStatsUppercut {
    position: absolute;
    right: 5%;
    top: 40%;
    color: white;
}

.counter {
  position: absolute;
  top: 25%;
  left: 45%;
  font-size: 10rem;
  font-weight: bold;
  letter-spacing: -.025em;
}

.btnGroup {
  position: relative;
  top: 250px;
  width: 480px;
  margin: 0 auto;
}

.btn {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 100px;
  width: 100px;
  height: 100px;
  opacity: .7;
  cursor: pointer;
  font-family: Arial, Helvetica, Helvetica Neue;
}

.btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.leftIntensityBarChartTitle {
    position: absolute;
    top: 10%;
    left: 24%;
}

.leftIntensityBarChart {
    position: absolute;
    top: 15%;
    left: 25%;
}

.rightIntensityBarChartTitle {
    position: absolute;
    top: 10%;
    right: 25%;
}

.rightIntensityBarChart {
    position: absolute;
    top: 15%;
    right: 25%;
}

.intensityGraph {
    position: absolute;
    top: 68%;
    color: #FFFFFF;
}
